# Compiled source files #
*.o
*.so
*.a
*.pyc

# Emacs files #
TAGS
.dir-locals.el

# Jupyter notebook data #
*.ipynb_checkpoints/

# OSX files #
.DS_Store
.cache/
*.dSYM

# executables #
runtests

# Backup files #
*~

# Output files #
*.mag
*.azimuth
*.fpt
*.switches
*.out

# Input files #
*.ini
